[submodule "cmake-qmlplugin"]
	path = cmake-qmlplugin
	url = https://github.com/xarxer/cmake-qmlplugin
[submodule "code/dependencies/fmt"]
	path = code/dependencies/fmt
	url = https://github.com/fmtlib/fmt
